.Container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 660px;
    padding: 24px 6px;
    margin: 12px 0 48px;
    border-radius: 6px;
    border: 1px solid rgba(133, 187, 101, 0.75);
}

.Title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
    font-weight: 800;
    width: 100%;
    line-height: 26px;
    user-select: none;
    color: #695649;
}

@media (max-width: 944px) {
    .Container {
        padding: 18px 6px 12px;
        max-width: 420px;
    }
    .Title {
        flex-flow: column;
    }
    .Tendency {
        margin-top: 12px;
    }
    .Title h1 {
        font-size: 21px;
    }
    .Currency {
        font-size: 16px !important;
    }
    .Equal {
        margin: 0 12px !important;
    }
}

@media (max-width: 480px) {
    .Container {
        margin: 12px 0;
    }
}

.Title h1 {
    display: inline;
    font-weight: normal;
}

.Currency {
    margin: 0 6px;
    font-weight: normal;
    line-height: 1;
    text-transform: none;
    color: #695649;
    font-size: 24px;
}

.Equal {
    margin: 0 24px;
}

.Tendency {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
}
